@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-locale-switcher .lingo-switcher {
  background: transparent;
  border: none;
  color: #d1d5db;
  padding: 8px 12px;
  border: 1px solid rgba(75, 85, 99, 0.3);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}